
<h1>Empleado <small>Nombre de Empleado</small> </h1>
<hr>


<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger"
            routerLink="/empleados">
      <i class="fa fa-arrow-left"></i>
      Regresar
    </button>
  </div>
</div>



<div class="row animated fadeIn faster">
  <div class="col">

    <form (ngSubmit)="guardar( f )"
          #f="ngForm">

      <div class="form-group">
        <label>Firebase ID</label>
        <input type="text"
               class="form-control"
               placeholder="Firebase ID"
               [(ngModel)]="empleado.id"
               name="id"
               disabled="disabled">
        <small class="form-text text-muted">Este campo es autogenerado</small>
      </div>


      <div class="form-group">
          <label>Nombre</label>
          <input type="text"
                 class="form-control"
                 placeholder="Nombre Completo"
                 [(ngModel)]="empleado.nombreCompleto"
                 name="nombre"
                 required>
      </div>

      <div class="form-group">
          <label>RFC</label>
          <input type="text"
                 class="form-control"
                 [(ngModel)]="empleado.rfc"
                 name="rfc"
                 placeholder="RFC">
      </div>

      <div class="form-group">
          <label>CURP</label>
          <input type="text"
                 class="form-control"
                 [(ngModel)]="empleado.curp"
                 name="curp"
                 placeholder="CURP">
</div>
                 <div class="form-group">
                     <label>CURP</label>
                     <input type="text"
                            class="form-control"
                            [(ngModel)]="empleado.fechaIngreso"
                            name="fechaIngreso"
                            placeholder="fechaIngreso">
      </div>
      <div class="form-group">
          <label>Proyecto Asignado</label>
          <input type="text"
                 class="form-control"
                 [(ngModel)]="empleado.proyectoAsignado"
                 name="proyectoAsignado"
                 placeholder="proyectoAsignado">
      </div>

    <!--<div class="form-group">
        <label>Estado</label>
        <br>
        <button *ngIf="heroe.vivo"
                (click)="heroe.vivo = false"
                class="btn btn-outline-success w-50" type="button">
          <i class="fa fa-smile-wink"></i>
          Vivo
        </button>

        <button *ngIf="!heroe.vivo"
                (click)="heroe.vivo = true"
                class="btn btn-outline-danger w-50" type="button">
            <i class="fa fa-dizzy"></i>
            Muerto
        </button>
      </div>-->
      <hr>
      <div class="form-group text-center">
        <button type="submit"
                class="btn btn-primary w-25">
          <i class="fa fa-save"></i>
          Guardar
        </button>
      </div>

    </form>


  </div>
</div>
